.wrapper {
    display: flex;
    justify-content: space-between ;
    color: white;

}

#div1 {
    background-color: darkred;
    padding: 5px;

}
#div2{
    background-color: blue;
    padding: 5px;
}
#div3 {
    background-color: purple;
    padding: 5px;
}